/* Wiki shell layout and sidebar */
.wiki-shell {
  display: grid;
  grid-template-columns: 260px minmax(0, 1fr) 260px;
  gap: 0;
  min-height: calc(100vh - 60px);
  min-width: 0;
  margin: 0 auto;
}
main {
  background: var(--surface);
  padding: 64px 80px 120px 80px;
  min-height: 100vh;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.wiki-sidebar {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 32px 0;
  color: var(--muted);
  font-size: 0.95rem;
  background: none;
  border: none;
}
.wiki-sidebar-left {
  border-right: 2px solid var(--border);
  background-color: var(--surface);
  opacity: 0.8;
  background-image:  radial-gradient(#444df71a 1px, transparent 1px), radial-gradient(#444df71a 1px, transparent 1px);
  background-attachment: fixed;
  background-size: 20px 20px;
  background-position: 0 0,10px 10px;
  padding-right: 24px;
  padding-left: 18px;
}
.wiki-sidebar-right {
  border-left: 2px solid var(--border);
  background: transparent;
  padding-left: 24px;
  opacity: 0.8;
  background-image:  linear-gradient(#444df711 2px, transparent 2px), linear-gradient(90deg, #444df711 2px, transparent 2px), linear-gradient(#444df711 1px, transparent 1px), linear-gradient(90deg, #444df711 1px, transparent 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  /* background-attachment: fixed; */
}
