---
import Layout from "../layouts/Layout.astro";
import PackageCard from "../components/PackageCard.astro";
---

<Layout title="Laplahce">
  <section class="hero">
    <p class="hero-label">Creative Engineering</p>

    <h1>
      Experimental graphics,
      tools, and technical systems.
    </h1>
  </section>

  <section class="project-grid">
    <PackageCard
      title="CTFX"
      description="Flow mapping and graphics experimentation."
      image="/ctfx.jpg"
      href="/docs/ctfx"
    />
  </section>
</Layout>