---
import Layout from "./Layout.astro";
import DocsSidebar from "../components/DocsSidebar.astro";
import "../styles/docs.css";

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="docs-layout">
    <DocsSidebar headings={Astro.props.headings} />
    <article class="docs-content">
      <slot />
    </article>
  </div>
</Layout>